
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.container{
  width: 100%;
  height: 100vh;
  background: linear-gradient(130deg, #153677,#4e085f);;
  padding:10px;

}
.text-todo{
  background-color: #fff;
    margin: 6rem 16.5rem;
}
.todo-list{
  width: 50%;
  max-width: 807px;
  height: 77%;
  background:#fff;
  margin:100px auto 20px;
  border-radius: 3rem;
}
#image{
  width: 3rem;
  height: 3rem;
  margin: -1rem 1rem;
}
#inputBox{
  width: 44rem;
  height: 3rem;
  margin:-2rem 3rem;
  background-color: whitesmoke;
  border:whitesmoke solid 1rem;
  border-radius: 3rem;
  text-align: justify;
}
.button{
   background-color: #4e085f;
  width: 5rem;
  height: 2rem;
  color: white;
  margin:1rem 22rem;
  border-radius:3rem;
  transition: background-color 30.s ease;
  cursor: pointer;
}

.button:hover{
  background-color: #bb67d0;

}
ul li {
  list-style: none;
  font-size: 17px;
  position: relative;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
}
ul li::before{
  content: '';
  position: relative;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(images/radio.png);
  background-size: cover;
  background-position: center;
  top: 12px;
left: 8px;
}
ul li.checked{
  color: #555;
  text-decoration: line-through;
}
ul li.checked::before{
  background-image: url(images/unchecked.png);
}


ul li span {
  position: absolute;
right: 0;
top: 5px;
width: 40px;
height: 40px;
font-size: 22px;
color: #555;
line-height: 40px;
text-align: center;
border-radius: 50%;
}

ul li span:hover{
  background: #edeef0;
}